<div class="container">
    <a asp-area="" asp-controller="Producto" asp-action="Index">Gestión de Productos</a>
</div>
<div class="container">
    <a asp-area="" asp-controller="Usuarios" asp-action="Index">Gestión de Usuarios</a>
</div>
<div class="container">
    <a asp-area="" asp-controller="Pedido" asp-action="Index">Gestión de Pedidos</a>
</div>
