<div class="row">
    <div class="col-md-3 form-horizontal">
        <form action="/Usuarios/InicioSesion" method="post">
            <br />
            <input type="text" class="form-control" name="usr" placeholder="Usuario" required autofocus>
            <br />
            <input type="password" class="form-control" name="pwd" placeholder="Contraseña" required>
            <br />
            <button class="btn btn-primary" type="submit">
                Iniciar sesión
            </button>
            Usuario o contraseña incorrectos
        </form>
    </div>
</div>
