<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="ItemCarrito" asp-action="Index">Ver Carrito</a>
</li>

<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="ItemCarrito" asp-action="SeguirComprando">Seguir Comprando</a>
</li>
